body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}



.flex{
    display: flex;
}

.ard{
    justify-content: space-around;
}

.btw {
    justify-content: space-between;
}

.column{
    flex-direction: column;
}

.row-reverse {
    flex-direction: row-reverse;
}
 
.mr-1 {
    margin-right: 5px;
}

.mr-2 {
    margin-right: 10px;
}

.mt-1 {
    margin-top: 5px;
}

.mt-2 {
    margin-top: 10px;
}
.mt-3 {
    margin-top: 20px;
}
.mt-4 {
    margin-top: 40px;
}