body {
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}



.flex{
    display: flex;
}

.ard{
    justify-content: space-around;
}

.btw {
    justify-content: space-between;
}

.column{
    flex-direction: column;
}

.row-reverse {
    flex-direction: row-reverse;
}

.margin-1 {
    margin: 5px;
}
 
.mr-1 {
    margin-right: 5px;
}

.mr-2 {
    margin-right: 10px;
}

.mt-1 {
    margin-top: 5px;
}

.mt-2 {
    margin-top: 10px;
}
.mt-3 {
    margin-top: 20px;
}
.mt-4 {
    margin-top: 40px;
}

.mb-1 {
    margin-bottom: 5px;
}

.mb-2 {
    margin-bottom: 10px;
}

.ok-button {
    text-align: center;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 18px;
    padding: 5px;
    color: #daeeff;
    background-color: #1e67cf;
    align-self: flex-end;
    transition: all .2s;
}
.ok-button:hover{
    background-color: #3d84e8;
}