<div class="a4">
    <h2 class="title">Relatório de inspeção NR13</h2>
    <h3 style="text-align: end; margin-right: 20px ;">Nº 0000</h3>
    <div class="content-container">
        <div class="info-cliente">
            <div>Empresa: var nome</div>
            <div>CNPJ: var cnpj</div>
            <div>Endereço: var endereco</div>
        </div>

        <div class="info-equip">
            <div class="check-area">
                <div class="flex">
                    <label for="reservatorio" class="mr-1"> Reservatório </label>
                    <input type="checkbox" id="reservatorio" name="reservatorio" checked>
                </div>
                <div class="flex">
                    <label for="rede" class="mr-1"> Rede de ar </label>
                    <input type="checkbox" id="rede" name="rede">
                </div>
                <div class="flex">
                    <label for="caldeira" class="mr-1"> Caldeira </label>
                    <input type="checkbox" id="caldeira" name="caldeira">
                </div>
            </div>
            <div>
                <div>Modelo: var modelo</div>
                <div>Ano de fabricação: var anoFab</div>
                <div>Nº Série: var serial</div>
                <div>Código do projeto: var projectCode</div>
                <div>Ano edição: var anoEdicao</div>
                <div>Pressão teste (PTH -BAR): var pressaoTest</div>
                <div>Pressão trabalho (PTA - BAR): var pressaoTrab</div>
            </div>
            <div>
                <span>Exame visual</span>
                <label for="bom"></label>
                <input type="radio" name="visual" value="bom">
                <label for="ruim"></label>
                <input type="radio" name="visual" value="ruim">
            </div>
            <div>
                <h3>Resultado do teste / Tipo de teste</h3>
                <div>
                    <label for="ultrassom">Ultrassom</label>
                    <input type="checkbox" id="ultrassom" name="ultrassom">
                </div>
                <span>Espessura da chapa: var 999mm</span>
                <span>Hidrostático PTH: var 999Br</span>
            </div>            
        </div>
    </div>
</div>
<div class="a4">

    <div class="content-container">

    </div>

</div>